body{
    background-color: hsl(233, 47%, 87%);
}
.submit{
    color: rgb(70, 169, 162);
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 20%;
    box-shadow: .2rem;

}
*{
    padding: .5rem;
    margin: .5rem;
}